In [1]:
# pip install flask_pymongo

Requirement already satisfied: flask_pymongo in c:\users\joe\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: Flask>=0.11 in c:\users\joe\anaconda3\lib\site-packages (from flask_pymongo) (1.1.2)
Requirement already satisfied: PyMongo>=3.3 in c:\users\joe\anaconda3\lib\site-packages (from flask_pymongo) (4.2.0)
Requirement already satisfied: click>=5.1 in c:\users\joe\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (8.0.4)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\joe\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.0.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\joe\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\joe\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.11.3)
Requirement already satisfied: colorama in c:\users\joe\anaconda3\lib\site-packages (from click>=5.1->Flask>=0.11->flask_pymongo) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\joe\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.11->flask_pymongo) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import dependencies
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from bs4 import BeautifulSoup as bs
import requests

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# Mars News Website: https://redplanetscience.com/
url = 'https://redplanetscience.com/'
browser.visit(f"{url}")
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Get the title and paragraph
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

print(f"Title: {news_title}")
print("-"*100)
print(f"Paragraph: {news_p}")

Title: Space History Is Made in This NASA Robot Factory
----------------------------------------------------------------------------------------------------
Paragraph: From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.

In [9]:
# Get Mars image website: https://spaceimages-mars.com/
image_url = 'https://spaceimages-mars.com/'

browser.visit(image_url)
html = browser.html
mars_image_soup = bs(html, 'html.parser')

# Featured image
image_path = mars_image_soup.find_all('img')[1]["src"]
featured_image_url = image_url + image_path
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [14]:
# Mars Facts: https://galaxyfacts-mars.com/
mars_facts_url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(mars_facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [26]:
mars_factsDF = tables[0]
mars_factsDF

     Mars-Earth Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [27]:
# Convert to HTML
mars_facts_html = mars_factsDF.to_html()
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars-Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
mars_facts_html.replace('\n', '')
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars-Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [34]:
# Mars Hemispheres: https://marshemispheres.com/
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
hemispheres_html = browser.html
hemispheres_soup = bs(hemispheres_html, 'html.parser')

In [35]:
# Import time in order to create a delay
import time

hemisphere_image_urls = []
links = browser.find_by_css('a.product-item img')

# Create a for loop to scrape the images
for i in range(4):
    
    browser.find_by_css('a.product-item img')[i].click()
    time.sleep(3)
    
    image_soup = bs(browser.html, 'html.parser')
    img_title = browser.find_by_css('h2.title').text
    img_url = image_soup.find('img', class_="wide-image")['src']
    hemisphere_image_url = hemispheres_url + img_url
    
    hemisphere_image_urls.append({"title": img_title,
                              "img_url": hemisphere_image_url})
    
    browser.back()
       
browser.quit()

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]